
@model Solid.WebUI.Models.ProductListModel


@{
    Layout = "~/Views/_Layout.cshtml";
}


<div>
    <table class="table table-responsive">
        <tr>
            <td>Product Name</td>
            <td>Product Price</td>
            <td>Product in Stock</td>
        </tr>
        @foreach (var item in Model.Products)
            {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.UnitPrice</td>
                <td>@item.UnitsInStock</td>
            </tr>
        }
    </table>
</div>

<product-list-pager 
                    current-category="@Model.CurrentCategory" 
                    current-page="@Model.CurrentPage" 
                    page-count="@Model.PageCount" 
                    page-size="@Model.PageSize">

</product-list-pager>


