
@model Solid.WebUI.Models.ProductListModel
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper "*,Solid.WebUI"

@{
    Layout = "~/Views/_Layout.cshtml";
}


<div>
    <table class="table table-responsive">
        <tr>
            <td>Product Name</td>
            <td>Product Price</td>
            <td>Product in Stock</td>
            <td></td>
        </tr>
        @foreach (var product in Model.Products)
            {
            <tr>
                <td>@product.ProductName</td>
                <td>@product.UnitPrice</td>
                <td>@product.UnitsInStock</td>
                <td><a  class="btn btn-xs btn-success" asp-controller="Cart" asp-action="AddToCart" asp-route-productId="@product.ProductId">add to cart</a></td>
            </tr>
        }
    </table>
</div>

<product-list-pager 
                    current-category="@Model.CurrentCategory" 
                    current-page="@Model.CurrentPage" 
                    page-count="@Model.PageCount" 
                    page-size="@Model.PageSize">

</product-list-pager>


